.item-container {
  display: flex;
  align-items: center;
  opacity: 0.5;
  font-size: 0.8rem;
}

.item-container img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.post-item__container {
  display: flex;
  background-color: #fff;
  margin-top: 10px;
  padding: 15px;
}

.post-item__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-item__container > img {
  width: 150px;
  height: 120px;
  border-radius: 10px;

  object-fit: cover;

  margin-right: 10px;
}

.option-item__container {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.option-item {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.option-item img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.option-btn__2 {
  width: 50%;

  border-top: 0.5px solid #ccc;
}

.option-btn__2:first-child {
  border-right: 0.5px solid #ccc;
}

.option-btn__1 {
  width: 100%;

  border-top: 0.5px solid #ccc;
}
